* {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  flex: 1;
}

.navbar {
  min-height: 4.5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.listing-link {
  text-decoration: none;
  color: inherit;
}

.listing-card {
  border: none !important;
  margin-top: 1.5rem !important;
  width: 100% !important;
}


.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  height: 20rem !important;
  object-fit: cover !important;
}


@media (max-width: 576px) {
  .card-img-top {
    height: 18rem !important;
  }
}

.card-body {
  padding: 0.5rem 0 !important;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.add-btn,
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
  color: white !important;
}

.btns {
  display: flex;
  gap: 1rem;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}


#map {
  height: 400px;
  width: 100%;
  border-radius: 12px;
}


.f-info {
  background-color: #ebebeb;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.f-info-links,
.f-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin: 0 0.5rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-socials i {
  font-size: 1.2rem;
  margin: 0 0.5rem;
}